<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="zeppMailer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <userSettings>
        <zeppMailer.Properties.Settings>
            <setting name="NotRead" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Todey" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Wikly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="All" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="filter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="interval" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="http_zepp" serializeAs="String">
                <value>http://zeppelin/zepp/</value>
            </setting>
            <setting name="Pochta_chek" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConectToZepp" serializeAs="String">
                <value>server=zeppelin;User Id=admin;password=scoraya911;Persist Security Info=True;database=zepp;Character Set=utf8</value>
            </setting>
            <setting name="NameBrauser" serializeAs="String">
                <value />
            </setting>
            <setting name="DirBrauser" serializeAs="String">
                <value />
            </setting>
            <setting name="PutchPolnocvet" serializeAs="String">
                <value>\\ZEPPELIN\doc\polnocvet</value>
            </setting>
            <setting name="renemePolnocvet" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="linkPolnocvet" serializeAs="String">
                <value>http://zeppelin/zepp/media/com_projectlog/docs/polnocvet/</value>
            </setting>
            <setting name="_PutchPolnocvet" serializeAs="String">
                <value>\\Cehcom\хранилище 1</value>
            </setting>
            <setting name="_linkPolnocvet" serializeAs="String">
                <value>file://Cehcom/хранилище 1/</value>
            </setting>
            <setting name="ццц" serializeAs="String">
                <value>server=zeppelin;User Id=admin;password=scoraya911;Persist Security Info=True;database=zepp;Character Set=utf8</value>
            </setting>
            <setting name="qqq" serializeAs="String">
                <value>server=localhost;User Id=root;password=;Persist Security Info=True;database=zepp;Character Set=utf8</value>
            </setting>
            <setting name="laminaciy" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>000м</string>
                        <string>000г</string>
                        <string>010м</string>
                        <string>010г</string>
                    </ArrayOfString>
                </value>
            </setting>
        </zeppMailer.Properties.Settings>
    </userSettings>
</configuration>